#!/usr/bin/env rc

cat <<EOF
<!DOCTYPE html>
<title>Scratch pad</title>
<link rel='stylesheet' href='style.css'>
<link rel='stylesheet' href='normalize.css'>
<style>
    body, header, footer { margin: 2em; }
    article > pre { width: 40em; whitespace: pre-wrap; }
</style>
<header>This is my strachpad, where I learn and make mistakes.</header>
EOF

fn nextline { awk '{ print; exit }' }

# sed -r -f format_html.sed |
awk '
/^[a-zA-Z0-9\-_]+: .*$/ { print "header " $0; next }
{
  gsub(/(https?|mailto)[^ ]+/, "<a href=&>&</a>");
}
' | awk '
BEGIN { RS="\n\n"; headers=0 }
{
        gsub(/(https?|mailto)[^ ]+/, "<a href=&>&</a>");
        print "<article>\n<pre>\n" $0 "</pre>\n</article>";
}'

cat <<EOF
<hr>
<footer>&copy; 2012 Henry Pr&ecirc;cheur</footer>
EOF
