#!/usr/bin/env rc

cat <<EOF
<!DOCTYPE html>
<title>Scratch pad</title>
<link rel='stylesheet' href='style.css'>
<link rel='stylesheet' href='normalize.css'>
<style>
    body, header, footer { margin: 2em; }
    article > pre { width: 40em; whitespace: pre-wrap; }
</style>
<header>This is my strachpad, where I learn and make mistakes.</header>
EOF

awk '
BEGIN { RS="\n\n"; }
{
        print "<article>\n<pre>"
        print $0
        print "</pre>\n</article>"
}'

cat <<EOF
</pre>
</article>
EOF

cat <<EOF
<hr>
</footer><a href='$*'>scratchpad</a></footer>
EOF
