fn log {
  for (i in `{cat}) {
    file=*/$i
    echo -n 'time:'; basename $file
    echo -n 'tags:'; dirname $file
    echo
    cat $file | sed -r 's,^\.(\[[0-9]+\] .*)$,\1,'
    echo 
  }
}

{ for (i in */*) basename $i } | sort | log
