#!/usr/bin/env rc
# vim:set ft=text ts=4 sw=4:

fn rfc3339 {
    date +%FT%T%z | sed 's/\([+-][01][0-9]\)\([0-9][0-9]\)$/\1:\2/'
}

{
    rfc3339
    echo
    cat
    echo 
} >> log

hg commit -m '' log

python html.py < log > index.html
