#!/usr/bin/env rc
# vim:set ft=text ts=4 sw=4:

cd /var/www/henry.precheur.org/scratchpad/

dir=.log
test -d $dir || mkdir $dir

tmp=`{date +%FT%T%z | sed 's/\([+-][01][0-9]\)\([0-9][0-9]\)$/\1:\2/'}
{ cat; echo  } | tee -a log $dir/$tmp

python html.py < log > index.html
python atom.py < log > feed.atom
