#!/usr/bin/env rc
# vim:set ft=text ts=4 sw=4:

cd /var/www/henry.precheur.org/scratchpad/

dir=.log
test -d $dir || mkdir $dir

{ cat; echo  } | tee -a log $dir/`{rfc3339}

python html.py < log > index.html
python atom.py < log > feed.atom
