#!/usr/bin/env rc
# vim:set ts=4 sw=4:

if (test $#* -ne 1) {
    echo 'Usage:
  '$0' path'
    exit 1
}

fn rfc3339 {
    date +%FT%T%z | sed 's/\([+-][01][0-9]\)\([0-9][0-9]\)$/\1:\2/'
}

fn read {
    echo -n $* > /dev/tty
    awk '{print;exit}' < /dev/tty
}

fn edit {
   gvim --nofork '+set ft=text tw=0' $*
}

fn transaction {
    dir=`{mktemp -d .$*.XXXX}

    ref=$dir/ref
    cat > $ref

    # Keep the original to compare later
    tmp=$dir/tmp
    cat $ref > $tmp

    msg=$dir/msg
    echo 'edit-start: '^`{rfc3339} > $msg

    edit $tmp

    fn delete { rm -f $ref $tmp $msg }

    # If the file wasn't modified, get out
    if (cmp $ref $tmp >[2=] > /dev/null) {
        rm -f $ref $tmp
    } else {
        while (test -f $tmp) {
            filename=`{hg root}^/^$*^/^`{rfc3339}
            switch (`{read 'Publish,Keep,Edit,Delete? '}) {
                case [Pp]*
                    mv $tmp $filename
                    hg add $filename; hg commit --logfile $msg
                case [Kk]*
                    mv $tmp $filename
                case [Dd]*
                    rm $tmp
                case [Ee]*
                    echo Editing
                    edit $tmp
                case *
                    echo Invalid command
            }
        }
        delete
    }
}

fn reply {
    awk '{ if (length($0) == 0) { print ">" } else { print "> "$0 } }'
}

if (test -f $*) {
    reply < $* | transaction `{dirname $*}
} else if (test -d $*) {
    transaction $* < /dev/null
} else {
    mkdir $* && transaction $* < /dev/null
}
