#!/usr/bin/env rc
# vim:set ts=4 sw=4:

remote_script='rc -e /var/www/henry.precheur.org/scratchpad/publish.rc'

fn rfc3339 {
    date +%FT%T%z | sed 's/\([+-][01][0-9]\)\([0-9][0-9]\)$/\1:\2/'
}

fn read {
    echo -n $* > /dev/tty
    awk '{print;exit}' < /dev/tty
}

flags='+set ft=text tw=0' fn edit {
    if (test -z $DISPLAY) {
        vim $flags $* < /dev/tty > /dev/tty
    } else {
        gvim --nofork $flags $*
    }
}

fn transaction {
    if (test -z $*) {
        tmp=`{mktemp}
    } else {
        tmp=$*
    }

    edit $tmp

    while (test -f $tmp) {
        switch (`{read 'Publish,Keep,Edit,Delete? '}) {
            case [Pp]*
                {
                    rfc3339
                    echo
                    cat $tmp
                } | ssh henry@alena.koalabs.org $remote_script &&
                rm $tmp
            case [Kk]*
                save=$HOME/.scratch.`{rfc3339}
                mv $tmp $save
                echo $save
            case [Dd]*
                if (~ `{read 'Sure? [yN] '} [yY]) {
                    rm $tmp
                }
            case [Ee]*
                echo Editing
                edit $tmp
            case *
                echo Invalid command
        }
    }
}

transaction $*
